.App {
  text-align: center;
}

.header-h1 {
  font-family: 'Passion One', cursive, sans-serif;
}

.td-list-break {
  font-size: 40px;
  text-align: center;
  font-family: 'Passion One', cursive, sans-serif;
}

.list-filter-button {
  padding: 4px 20px;
  margin-left: 42px;
  background-color: #75744B;
  color: white;
  border: 1px solid lightslategray;
  border-radius: 3px;
  cursor: pointer;
}

.list-filter-button:hover {
  background-color: #2D3328;
  color: white;
}

.filter {
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  margin-top: 10px;
  padding: 25px 10px;
}

.div-filter {
  display: flex;
  flex-direction: row;
}

.searchbar {
  margin-left: 15px;
  margin-right: 15px;
  height: 25px;
}

.sec-filter {
  margin: 10px 0px;
}

.filter-h4 {
  text-align: center;
  margin: 0px;
}

.filter-submit {
  padding: 5px;
  background-color: #75744B;
  color: white;
  border: 1px solid lightslategray;
  border-radius: 3px;
  cursor: pointer;
}

.filter-submit:hover {
  background-color: #2D3328;
  color: white;
}

.filter-reset {
  padding: 5px;
  margin-left: 37px;
  background-color: #75744B;
  color: white;
  border: 1px solid lightslategray;
  border-radius: 3px;
  cursor: pointer;
}

.filter-reset:hover {
  background-color: #2D3328;
  color: white;
}

.prevnext {
  margin: 0px 5px;
  cursor: pointer;
}

@media screen and (min-width: 1333px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D3328;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
  }
  
  .header-a {
    margin: 10px;
    color: white;
    border: 1px solid grey;
    border-radius: 1px;
    padding: 10px;
  }

  .header-a:hover {
    background-color: rgb(27, 31, 24);
  }
  
  .header-h1 {
    font-size: 45px;
    color: white;
    margin: 10px 100px;
    text-decoration: none;
  }
  
  nav {
    margin-top: 8px;
    margin-right: 15px;
  }
  
  .home-list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #home-hunting-image {
    height: 350px;
    width: 400px;
  }
  
  #home-hunting {
    background-image: url(https://images.unsplash.com/photo-1542722140-13cfa09585c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #home-camping {
    background-image: url(https://images.unsplash.com/photo-1551632811-561732d1e306?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #home-fishing {
    background-image: url(https://images.unsplash.com/photo-1493787039806-2edcbe808750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .home-h2 {
    color: white;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    filter: drop-shadow(10px 10px 5px black);
    border: 1px solid black;
    padding: 150px;
    margin: 20px 20px 0px 20px;
    max-width: 300px;
  }
  
  .home-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-oldnew-list {
    visibility: hidden;
    opacity: 0;
  }
  
  .home-list:hover .home-oldnew-list {
    visibility: visible;
    display: block;
    opacity: 1;
    color: black;
    width: 402px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .home-list-delete {
    font-size: 15px;
    height: 25px;
    width: 25px;
    margin-left: 15px;
    margin-top: 5px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .home-list-delete:hover {
    background-color: #2D3328;
    color: white;
  }
  
  .home-listsec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  
  .home-plus {
    content: "\002B";
    font-weight: 1000;
    font-size: 84px;
    color: black;
    width: 100px;
    height: 100px;
  }
  
  .home-plus:hover {
    color: #2D3328;
  }
  
  .home-new-p {
    text-align: center;
  }
  
  .home-random-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .home-random-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    width: 250px;
    height: 200px;
    padding: 20px;
    margin: 20px 40px;
    background-color: honeydew;
  }
  
  .home-random-img {
    width: 100px;
    height: 100px;
    border-width: 100%;
    border-bottom: 1px solid grey;
  }
  
  .home-random-p {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-width: 100%;
    text-align: center;
  }
  
  h3 {
    padding: 6px;
    margin-left: 5px;
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
  }

  h3:hover {
    background-color: #2D3328;
    color: white;
  }
  
  main {
    margin: 5rem;
  }

  .main-class {
    margin: 1rem;
  }

  .list-h2-topname {
    text-align: center;
    margin: 0px auto 2% auto;
    padding: 50px;
    font-size: 40px;
    width: 30%;
    border-radius: 1px;
  }
  
  .list-table {
    margin: 0px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
  }
  
  .list-tr {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  
  .list-tr-th {
    border-bottom: 1px solid lightgray;
  }
  
  .list-td, .list-th {
    text-align: center;
    padding: 8px;
    height: 45px;
  }
  
  .list-image {
    height: 80px;
    width: 100px;
  }
  
  a {
    text-decoration: none;
    color: #0000FF;
  }
  
  .newlist {
    margin-top: 20px;
    margin-left: 10%;
  }
  
  .newlist-input {
    padding: 4px;
  }
  
  .newlist-save {
    padding: 5px;
    margin-left: 5px;
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .newlist-save:hover {
    background-color: #2D3328;
    color: white;
  }
  
  .list-button {
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
  }
  
  .list-back {
    padding: 5px;
    margin: 30px 10%;
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .list-back:hover {
    background-color: #2D3328;
    color: white;
  }
  
  .buybutton {
    background-color: #75744B;
    padding: 5px;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
  }
  
  .buybutton:hover {
    background-color: #2D3328;
    color: white;
    cursor: pointer;
  }
  
  .list-delete {
    background: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .list-delete:hover {
    background-color: #2D3328;
    color: white;
  }

  .list-save {
    background-color: #75744B;
    padding: 5px;
    color: white;
    margin-left: 10%;
    border: 1px solid lightslategray;
    border-radius: 3px;
  }
  
  .list-save:hover {
    background-color: #2D3328;
    color: white;
    cursor: pointer;
  }

  .list-hassaved {
    margin-left: 10%;
  }
}



@media screen and (max-width: 1332px) {

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #2D3328;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
  }
  
  .header-a {
    margin: 10px;
    color: white;
    border: 1px solid grey;
    border-radius: 1px;
    padding: 10px;
  }

  .header-a:hover {
    background-color: rgb(27, 31, 24);
  }
  
  .header-h1 {
    font-size: 45px;
    color: white;
    margin: 10px 100px;
    text-decoration: none;
  }
  
  nav {
    margin-top: 8px;
    margin-right: 15px;
  }
  
  .home-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #home-hunting-image {
    height: 350px;
    width: 400px;
  }
  
  #home-hunting {
    background-image: url(https://images.unsplash.com/photo-1542722140-13cfa09585c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #home-camping {
    background-image: url(https://images.unsplash.com/photo-1551632811-561732d1e306?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #home-fishing {
    background-image: url(https://images.unsplash.com/photo-1493787039806-2edcbe808750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .home-h2 {
    color: white;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    filter: drop-shadow(10px 10px 5px black);
    border: 1px solid black;
    padding: 150px;
    margin: 20px 20px 0px 20px;
    max-width: 300px;
  }
  
  .home-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-oldnew-list {
    visibility: hidden;
    opacity: 0;
  }
  
  .home-list:hover .home-oldnew-list {
    visibility: visible;
    display: block;
    opacity: 1;
    color: black;
    width: 402px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .home-list-delete {
    font-size: 15px;
    height: 25px;
    width: 25px;
    margin-left: 15px;
    margin-top: 5px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  
  .home-list-delete:hover {
    background-color: #2D3328;
    color: white;
  }
  
  .home-listsec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  
  .home-plus {
    content: "\002B";
    font-weight: 1000;
    font-size: 84px;
    color: black;
    width: 100px;
    height: 100px;
  }
  
  .home-plus:hover {
    color: #2D3328;
  }
  
  .home-new-p {
    text-align: center;
  }
  
  .home-random-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-random-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    width: 250px;
    height: 200px;
    padding: 20px;
    margin: 20px 40px;
    background-color: honeydew;
  }
  
  .home-random-img {
    width: 100px;
    height: 100px;
    border-width: 100%;
    border-bottom: 1px solid grey;
  }
  
  .home-random-p {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-width: 100%;
    text-align: center;
  }
  
  h3 {
    padding: 6px;
    margin-left: 5px;
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
  }

  h3:hover {
    background-color: #2D3328;
    color: white;
  }
  
  main {
    margin: 5rem;
  }

  .main-class {
    margin: 1rem;
  }

  .list-h2-topname {
    text-align: center;
    margin: 0px auto 2% auto;
    padding: 50px;
    font-size: 40px;
    width: 50%;
    border-radius: 1px;
  }
  
  .list-table {
    margin: 0px auto;
    border-collapse: collapse;
    min-width: 80%;
    background-color: white;
  }
  
  .list-tr {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  
  .list-tr-th {
    border-bottom: 1px solid lightgray;
  }
  
  .list-td, .list-th {
    text-align: center;
    padding: 8px;
    height: 45px;
  }
  
  .list-image {
    height: 80px;
    width: 100px;
  }
  
  a {
    text-decoration: none;
    color: #0000FF;
  }
  
  .newlist {
    margin-top: 20px;
    margin-left: 10%;
  }
  
  .newlist-input {
    padding: 4px;
  }
  
  .newlist-save {
    padding: 5px;
    margin-left: 5px;
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .newlist-save:hover {
    background-color: #2D3328;
    color: white;
  }
  
  .list-button {
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
  }
  
  .list-back {
    padding: 5px;
    margin: 30px 10%;
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .list-back:hover {
    background-color: #2D3328;
    color: white;
  }
  
  .buybutton {
    background-color: #75744B;
    padding: 5px;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
  }
  
  .buybutton:hover {
    background-color: #2D3328;
    color: white;
    cursor: pointer;
  }
  
  .list-delete {
    background: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .list-delete:hover {
    background-color: #2D3328;
    color: white;
  }

  .list-save {
    background-color: #75744B;
    padding: 5px;
    color: white;
    margin-left: 10%;
    border: 1px solid lightslategray;
    border-radius: 3px;
  }
  
  .list-save:hover {
    background-color: #2D3328;
    color: white;
    cursor: pointer;
  }

  .list-hassaved {
    margin-left: 10%;
  }
}



@media screen and (max-width: 799px) {
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #2D3328;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
  }
  
  .header-a {
    margin: 10px;
    color: white;
    border: 1px solid grey;
    border-radius: 1px;
    padding: 10px;
  }

  .header-a:hover {
    background-color: rgb(27, 31, 24);
  }
  
  .header-h1 {
    font-size: 35px;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .home-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #home-hunting-image {
    height: 350px;
    width: 400px;
  }
  
  #home-hunting {
    background-image: url(https://images.unsplash.com/photo-1542722140-13cfa09585c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #home-camping {
    background-image: url(https://images.unsplash.com/photo-1551632811-561732d1e306?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #home-fishing {
    background-image: url(https://images.unsplash.com/photo-1493787039806-2edcbe808750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .home-h2 {
    color: white;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px, #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    filter: drop-shadow(10px 10px 5px black);
    border: 1px solid black;
    padding: 150px;
    margin: 20px 20px 0px 20px;
    max-width: 300px;
  }
  
  .home-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-oldnew-list {
    visibility: hidden;
    opacity: 0;
  }
  
  .home-list:hover .home-oldnew-list {
    visibility: visible;
    display: block;
    opacity: 1;
    color: black;
    width: 402px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .home-list-delete {
    font-size: 15px;
    height: 25px;
    width: 25px;
    margin-left: 15px;
    margin-top: 5px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  
  .home-list-delete:hover {
    background-color: #2D3328;
    color: white;
  }
  
  .home-listsec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  
  .home-plus {
    content: "\002B";
    font-weight: 1000;
    font-size: 84px;
    color: black;
    width: 100px;
    height: 100px;
  }
  
  .home-plus:hover {
    color: #2D3328;
  }
  
  .home-new-p {
    text-align: center;
  }
  
  .home-random-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home-random-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    width: 250px;
    height: 200px;
    padding: 20px;
    margin: 20px 40px;
    background-color: honeydew;
  }
  
  .home-random-img {
    width: 100px;
    height: 100px;
    border-width: 100%;
    border-bottom: 1px solid grey;
  }
  
  .home-random-p {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-width: 100%;
    text-align: center;
  }
  
  h3 {
    padding: 6px;
    margin-left: 5px;
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
  }

  h3:hover {
    background-color: #2D3328;
    color: white;
  }
  
  main {
    margin: 1rem;
  }

  .main-class {
    margin: 1rem;
  }

  .list-h2-topname {
    text-align: center;
    margin: 0px auto 2% auto;
    overflow: hidden;
    white-space: nowrap;
    font-size: 30px;
    width: 80%;
    border-radius: 1px;
    text-overflow: ellipsis;
  }
  
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  .list-image {
    height: 80px;
    width: 100px;
  }
  
  a {
    text-decoration: none;
    color: #0000FF;
  }
  
  .newlist {
    margin-top: 20px;
    margin-left: 10%;
  }
  
  .newlist-input {
    padding: 4px;
  }
  
  .newlist-save {
    padding: 5px;
    margin-left: 5px;
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .newlist-save:hover {
    background-color: #2D3328;
    color: white;
  }
  
  .list-button {
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
  }
  
  .list-back {
    padding: 5px;
    margin: 30px 10%;
    background-color: #75744B;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .list-back:hover {
    background-color: #2D3328;
    color: white;
  }
  
  .buybutton {
    background-color: #75744B;
    padding: 5px;
    color: white;
    border: 1px solid lightslategray;
    border-radius: 3px;
  }
  
  .buybutton:hover {
    background-color: #2D3328;
    color: white;
    cursor: pointer;
  }
  
  .list-delete {
    background: white;
    margin: 10px 20%;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .list-delete:hover {
    background-color: #2D3328;
    color: white;
  }

  .list-save {
    background-color: #75744B;
    padding: 5px;
    color: white;
    margin-left: 10%;
    border: 1px solid lightslategray;
    border-radius: 3px;
  }
  
  .list-save:hover {
    background-color: #2D3328;
    color: white;
    cursor: pointer;
  }

  .list-hassaved {
    margin-left: 10%;
  }

  .no-td {
    display: none;
  }
}